body {
  margin: 0;
  overflow: hidden;
  background-color: #eeeeee;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 4em;
}

.headerLink {
  font-size: 1.5em;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: black;
  padding-left: 10px;
}

.headerLink:hover {
  color: rgb(108, 163, 214);
}

#navContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 7em;
}

.countryTick {
  font-size: 0.9em;
  color: black;
  text-anchor: middle;
  font-family: 'Oswald', sans-serif;
  display: flex;
}

.tick text {
  text-anchor: end;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
}

.tick line {
  color: black;
  stroke: black;
}

.mark {
  fill: rgb(108, 163, 214);
}

.axisLabel {
  text-anchor: middle;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
}

#chartContainer {
  margin: 0 20%;
  padding-top: 2%;
}
