body {
  margin: 0;
  overflow: hidden;
}

.countryTick {
  font-size: 0.8em;
  color: black;
  text-anchor: middle;
  font-family: 'Oswald', sans-serif;
}

.tick text {
  text-anchor: end;
  font-family: 'Oswald', sans-serif;
}

.tick line {
  color: rgb(224, 42, 42);
}

.mark {
  fill: rgb(108, 163, 214);
}

.axisLabel {
  text-anchor: middle;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
}

#chartContainer {
  margin: 0 20%;
  padding: 2%;
}
